CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
# CONFIG_TARGET_ramips_mt7621_DEVICE_newifi-d1=y
#CONFIG_TARGET_ramips_mt7621_DEVICE_lenovo_newifi-d1=y
# CONFIG_DOCKER_KERNEL_OPTIONS is not set
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
# CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR is not set
# CONFIG_KERNEL_CGROUPS is not set
# CONFIG_KERNEL_NAMESPACES is not set
# CONFIG_KERNEL_STACKPROTECTOR is not set
CONFIG_LUCI_SRCDIET=y
# CONFIG_PACKAGE_kmod-mmc=y
# CONFIG_PACKAGE_kmod-mmc-spi=n
CONFIG_PACKAGE_kmod-sdhci=y
CONFIG_PACKAGE_kmod-sdhci-mt7620=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_bash=y
# CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_nft-qos=y
# CONFIG_PACKAGE_luci-i18n-nft-qos-zh-cn=y
# CONFIG_PACKAGE_luci-app-sqm=n
# CONFIG_PACKAGE_luci-app-mwan3=n
# CONFIG_PACKAGE_luci-app-mwan3_INCLUDE_mwan3=n
# CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-hd-idle=y
# CONFIG_PACKAGE_luci-app-kodexplorer=n
# CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-ttyd=n
# CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-filebrowser=y
CONFIG_PACKAGE_luci-app-ddnsto=y
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y
# CONFIG_PACKAGE_luci-theme-argon-dark-mod=n
# CONFIG_PACKAGE_luci-theme-argon-light-mod=n
CONFIG_PACKAGE_luci-theme-neobird=y
CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y
# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
# CONFIG_PKG_RELRO_FULL is not set
CONFIG_PKG_RELRO_NONE=y
# CONFIG_SIGNATURE_CHECK is not set
# CONFIG_SIGNED_PACKAGES is not set
# CONFIG_UnblockNeteaseMusic_Go=y
# CONFIG_V2RAY_COMPRESS_UPX=y
# CONFIG_KERNEL_ELF_CORE is not set
# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set
CONFIG_DEFAULT_luci-app-control-timewol=n
CONFIG_DEFAULT_luci-app-control-webrestriction=n
CONFIG_DEFAULT_luci-app-control-weburl=n
CONFIG_DEFAULT_luci-app-timecontrol=n
CONFIG_PACKAGE_luci-app-control-timewol=n
CONFIG_PACKAGE_luci-app-control-webrestriction=n
CONFIG_PACKAGE_luci-app-control-weburl=n
CONFIG_PACKAGE_luci-app-timecontrol=n

# DDNS
CONFIG_PACKAGE_naiveproxy=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts-services=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_luci-app-ddns_INCLUDE_ddns-scripts_dnspod=n

CONFIG_DEFAULT_naiveproxy=n
CONFIG_DEFAULT_luci-app-ddns=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts-cloudflare=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts-services=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts_aliyun=n
CONFIG_DEFAULT_luci-app-ddns_INCLUDE_ddns-scripts_dnspod=n

# CONFIG_KERNEL_SECCOMP is not set
CONFIG_PKG_ASLR_PIE_NONE=y
# CONFIG_PKG_ASLR_PIE_REGULAR is not set
#CONFIG_PACKAGE_luci-app-passwall=y
#CONFIG_PACKAGE_luci-app-passwall=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_trojan-plus=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_dns2socks=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ipt2socks=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_microsocks=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_shadowsocks-libev-ss-local=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_shadowsocks-libev-ss-redir=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_shadowsocks-libev-ss-server=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_shadowsocksr-libev-ssr-local=n
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_shadowsocksr-libev-ssr-redir=n
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_https_dns_proxy=y
